{% extends "portfolio/layout.html" %}
{% block content %}
    <div class="container mx-auto my-8">
        {% if media.is_image %}
        <img class="h-auto w-full" src="{{ media.url }}" alt="{{ media.title }}">
        {% else %}
        <video
            controls
            class="w-full drop-shadow-lg lg:drop-shadow-xl"
            {% if media.thumb %}poster="{{ media.thumb.url }}"{% endif %}
        >
            <span class="sr-only">{{ media.title }}</span>
            <source src="{{ media.url }}" type="video/mp4">
              Your browser does not support the video tag.
        </video>
        {% endif %}
        <h2 class="text-2xl lg:text-4xl my-2 text-gray-700 dark:text-stone-100">{{ media.title }}</h2>
        {% if media.subtitle %}<h3 class="text-xl lg:text-2xl my-2 text-gray-700 dark:text-stone-100">{{ media.subtitle }}</h3>{% endif %}
        {% if media.desc %}<p class="text-md lg:text-lg text-gray-600 dark:text-stone-200">{{ media.desc }}</p>{% endif %}
    </div>
{% endblock content %}
