{% extends "portfolio/layout.html" %}
{% block content %}
<div class="container">
    {% if media.is_image %}
    <img class="h-auto" src="{{ media.url }}" alt="{{ media.title }}">
    {% elif not media.is_image and media.thumb %}
    <img class="h-auto" src="{{ media.thumb.url }}" alt="{{ media.title }}">
    {% else %}
    <video class="w-full" autoplay muted>
        <span class="sr-only">{{ media.title }}</span>
        <source src="{{ media.url }}" type="video/mp4">
          Your browser does not support the video tag.
    </video>
    {% endif %}
    <form method="post" action="{% url 'media delete' media.slug %}" class="mx-auto max-w-sm">
        <h2 class="text-xl lg:text-2xl">Are you sure you want to delete "{{ media.title }}"?</h2>
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="px-4 py-8 bg-red-600 hover:bg-red-400 text-white">
            Yes, delete it
        </button>
        <button type="button" class="px-4 py-8 bg-blue-600 hover:bg-blue-400 text-white">
            No, keep it
        </button>
    </form>
</div>
{% endblock content %}
