{% extends "portfolio/layout.html" %}
{% block content %}
    {% for media in medias %}
        {% if media.is_image %}
        <img class="h-auto max-w-full" src="{{ media.url }}" alt="{{ media.title }}">
        {{ media.title }}
        {{ media.views }}
        {{ media.likes }}
        {{ media.dislikes }}
        {% else %}
        <h2 class="text-black"></h2>
        <video class="w-full" controls>
            <span class="sr-only">{{ media.title }}</span>
            <source src="{{ media.url }}" type="video/mp4">
              Your browser does not support the video tag.
        </video>
        {{ media.title }}
        {{ media.views }}
        {{ media.likes }}
        {{ media.dislikes }}
        {% endif %}
    {% endfor %}
{% endblock content %}
