{% extends "portfolio/layout.html" %}
{% block content %}
<div class="mt-20 flex flex-col items-center gap-4">
    <div class="flex flex-col gap-4">
        <div class="inline-flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
            <h2 class="text-2xl text-gray-800 dark:text-gray-300">Looking for something?</h2>
        </div>
    </div>
    <form action="{% url 'portfolio search' %}" method="post" class="grid grid-cols-1 gap-8" autocomplete="off">
        {% csrf_token %}
        {{ form.search }}
        <span class="sr-only">Press enter to submit</span>
    </form>
    <div id="id-search-results" name="search-results" class="grid grid-cols-2 gap-4 lg:grid-cols-3">
        {% for result in results %}
            {% if result.is_image %}
            <a class="group flex flex-col rounded-md bg-blue-500 p-8 group-hover:bg-gray-500" href="{{ result.detail_url }}">
                <img class="h-36 w-36" src="{{ result.url }}"></img>
                <h2 class="absolute hidden group-hover:flex text-lg text-white">{{ result.title }}</h2>
            </a>
            {% else %}
            <a class="group flex flex-col rounded-md bg-blue-500 p-8 group-hover:bg-gray-500" href="{{ result.detail_url }}">
                <img class="h-36 w-36" src="{{ result.thumb.url }}"></img>
                <h2 class="absolute hidden group-hover:flex text-lg text-white">{{ result.title }}</h2>
            </a>
            {% endif %}
        {% empty %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
