{% extends "portfolio/layout.html" %}
{% load portfolio_display %}
{% block content %}
<div class="sm:px-24 md:px-40 lg:px-52 xl:px-96 2xl:px-auto">
    <div class="container mx-auto">
        <div class="block mx-auto max-w-sm">
            {% if media.is_image %}
            <img class="h-auto max-w-full" src="{{ media.url }}" alt="{{ media.title }}">
            {% else %}
            <video class="w-full" controls>
                <span class="sr-only">{{ media.title }}</span>
                <source src="{{ media.url }}" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
            {% endif %}
        </div>
    </div>
    <form class="flex flex-col items-center bg-contain my-6 p-6 mx-auto bg-stone-300 dark:bg-gray-600 rounded-xl" method="post" action="{% url 'media edit' media.slug %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Submit
        </button>
    </form>
</div>
{% endblock content %}