{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
        {% tailwind_css %}
        <script src="{% static 'brycenall/js/htmx.min.js' %}" defer></script>
        <script src="{% static 'brycenall/js/_hyperscript.min.js' %}" defer></script>
    </head>
    <body class="mx-auto mb-20 max-w-screen-xl bg-gray-700" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
        <main>
            <div class="flex bg-gradient-to-t from-black to-transparent p-20 items-center">
                <a class="hover:animate-pulse" href="{% url 'landing' %}">{% include "brycenall/logo.svg" with class="size-12 mr-4 align-middle" %}</a>
                <h2 class="text-3xl font-extrabold tracking-widest text-white">{{ title|upper }}</h2>
            </div>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "brycenall/footer.html" %}
    </body>
</html>
