{% extends "portfolio/layout.html" %}
{% load portfolio_display %}
{% block content %}
<div class="flex flex-col text-white">
    <form class="flex flex-col" action="{% url 'portfolio upload' %}" method="post">
        {% if form.non_field_errors %}
            <ul class="m-8 list-inside list-none rounded bg-red-100 p-8 text-red-500 drop-shadow">
            {% for err in form.non_field_errors %}<li>{{ err }}</li>{% endfor %}
            </ul>
        {% endif %}
        {% csrf_token %}
        <div class="m-4 flex flex-col gap-4 rounded bg-gray-900/75 p-4">
            <h2 class="text-xl font-bold tracking-wide">pick some files</h2>
            <label class="font-semibold text-white">source</label>
            {{ form.source }}
            <label class="text-white">thumbnail</label>
            {{ form.thumb }}
        </div>
        <div class="m-4 flex flex-col gap-4 rounded bg-gray-900/75 p-4">
            <h2 class="text-xl font-bold tracking-wide">write some stuff</h2>
            <label class="font-semibold text-white">title</label>
            {{ form.title }}
            <label class="text-white">subtitle</label>
            {{ form.subtitle }}
            <label class="text-white">description</label>
            {{ form.desc }}
        </div>
        <div class="m-4 flex flex-col gap-4 rounded bg-gray-900/75 p-4">
            <h2 class="text-xl font-bold tracking-wide">click some buttons</h2>
            <label class="text-white">set as hidden?</label>
            {{ form.is_hidden }}
            <label class="text-white">categories</label>
            {{ form.categories }}
        </div>
        <div class="flex flex-col font-bold">
            <button class="bg-green-500 p-6 hover:bg-green-300" type="submit">upload</button>
            <a href="{% url 'landing' %}" class="bg-red-500 p-6 text-center hover:bg-red-300">never mind</a>
        </div>
    </form>
</div>
{% endblock content %}
