{% extends "brycenall/layout.html" %}
{% load static %}
{% block content %}
<div class="flex flex-col text-white">
    <div class="flex flex-col bg-cover" style="background-image: url('{% static "brycenall/cleaners.jpg" %}');">
        <div class="flex flex-col space-y-8 bg-gradient-to-r from-black to-transparent p-20 backdrop-grayscale">
            <h2 class="text-3xl font-extrabold tracking-widest">{{ title|upper }}</h2>
            <h3 class="text-xl font-medium tracking-wide">photographer + videographer</h3>
        </div>
        <div class="flex flex-col text-right font-semibold tracking-wider">
            <a href="{% url 'portfolio gallery' %}" class="bg-gradient-to-l from-black to-transparent p-20 transition duration-700 ease-in-out hover:backdrop-grayscale">
                my featured work
            </a>
            <a href="{% url 'portfolio search' %}" class="bg-gradient-to-l from-black to-transparent p-20 transition duration-700 ease-in-out hover:backdrop-grayscale">
                search my work
            </a>
            <a href="{% url 'portfolio contact' %}" class="bg-gradient-to-l from-black to-transparent p-20 transition duration-700 ease-in-out hover:backdrop-grayscale">
                get in touch
            </a>
        </div>
    </div>
    <div class="mx-auto mt-4 flex gap-8 fill-gray-300">
    {% for name, data in profile.SOCIALS.items %}
        {% if data %}
        <a class="transition duration-700 ease-in-out hover:fill-white" href="{{ data.profile_link|default:'#' }}">
            <span class="sr-only">{{ name|title }}</span>
            {% include data.icon with class="size-8" %}
        </a>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock content %}
